<div class="produto">
    <img src="{{produto.imagem}}" alt="">
    <div class="card">
        <span class="titulo">{{produto.nome}}</span>
        <span class="descricao {{verMais ? '' : 'closed'}}">{{produto.descricao}}</span>
        <span class="ver-mais" (click)="verMais = !verMais">{{verMais ? 'Ver Menos' : 'Ver Mais'}}</span>
        <div class="avaliacao">
            <span class="estrelas">
                <ng-container  *ngFor="let number of [1,2,3,4,5]">
                    <span class="{{number <= produto.nota ? 'fa fa-star': 'fa-regular fa-star'}}"></span>
                </ng-container>
            </span>
            <span class="preco">R$ {{tratarValor(produto.preco)}}</span>
        </div>
    </div>
    <button (click)="adicionar()">adicionar ao carrinho</button>
</div>