.banner {
    width: 100%;
    height: 150px;
    display: flex;
    background-position: center center;
    margin-bottom: 25px;
    background:
           /* top, transparent black, faked with gradient */ 
           linear-gradient(
             rgba(0, 0, 0, 0.7), 
             rgba(0, 0, 0, 0.7)
           ),
           /* bottom, image */
           url('https://sm.ign.com/ign_pt/screenshot/default/capa_b14y.jpg');
    h2 {
        margin: auto;
        color: white;
        font-weight: bold;
        font-size: 38px;
        line-height: 57px;
        text-align: center;
        font-family: 'Poppins'!important;
    }
}
.lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.produto {
    width: 300px;
}

.loja-container {
    height: calc(100vh - 80px);
    overflow: auto;
    padding-right: 10px;
}

@media (max-width: 650px) {
    .produto {
        width: 100% !important;
    }
    .banner {
        height: 125px;
        h2 {
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
        }
    }
}