@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
    font-family: 'Poppins'!important;
    background: #F1F1F1;
    margin: 40px auto;
}

span {
    &.titulo {
        font-family: 'Poppins'!important;
        font-weight: bold;
        font-size: 19px;
        line-height: 28px;
    }
    &.descricao {
        font-family: 'Poppins'!important;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #6B6B6B;
    }
    &.preco {
        font-family: 'Poppins'!important;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        color: #2F2F2F;
    }
}
